{% extends "base.html" %}
{% block content %}

    <style>
        .txtaln{
         text-align: justify;
        }
        
        body {font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }
        
    </style>
    
     <p>
    
     </p>


    <h1>News</h1>
    
    <a class="twitter-timeline" href="https://twitter.com/JZ97395217?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}