{% extends "base.html" %}
{% block content %}
<style>
    
    body {font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }

    .publication{
        display: grid;
        grid-template-columns: 150px auto;
        grid-gap: 20px;
        margin-bottom: 30px;
    }

    .publication img {
        width: 150px;
        height: auto;
        margin-right: 20px;
    }

    .publication-text p {
        margin-bottom: 10px;
    }

    .publication-text h3 {
        margin-top: 0px;
    }

    .tab{
        margin-left: 22px;
    }
</style>
<p>

</p>
<h1>Publication</h1>
    
<p>

</p>   

<h2 class="text-left font-weight-light"> <small><u><a href="https://scholar.google.com/citations?user=1JszV2wAAAAJ&hl=en&oi=ao"  target="_blank">Peer-reviewed Journal</a></u></small></h2>

    
<div class="publication"> 
    <a href="https://www.mdpi.com/2313-4321/8/1/2" target="_blank"><img src="static/publication7.jpg"> </a>
    <p>[7] <strong> Blending Recycled High-Density Polyethylene HDPE (rHDPE) with Virgin (vHDPE) as an Effective Approach to Improve the Mechanical Properties, Recycling,8,1,2,2022</strong> <br> <strong class="tab"> Authors:</strong> Zhang, Jian; Hirschberg, Valerian; Rodrigue, Denis;</p>
      <br>
</div> 

<div class="publication"> 
    <a href="https://onlinelibrary.wiley.com/share/author/XVPCI6TPRCI6BN6RFPB8?target=10.1002/app.53312" target="blank"><image src="static/publication6.jpg"> </a>
    <p>[6] <strong> Mechanical fatigue of recycled and virgin high‐/low‐density polyethylene,Journal of Applied Polymer Science,e53312,2022</strong> <br> <strong class="tab">Authors:</strong> Zhang, Jian; Hirschberg, Valerian; Rodrigue, Denis;</p>
      <br>
</div>

<div class="publication">
    <a href="https://doi.org/10.1016/j.ijfatigue.2022.106798" target="blank"><image src="static/publication5.jpg"> </a>
    <p>[5] <strong> Mechanical fatigue of biodegradable polymers: A study on polylactic acid (PLA), polybutylene succinate (PBS) and polybutylene adipate terephthalate (PBAT)",International Journal of Fatigue,159,,106798,2022</strong> <br> <strong class="tab">Authors:</strong> Zhang, Jian; Hirschberg, Valerian; Rodrigue, Denis;</p>
      <br>
</div>

<div class="publication">
    <a href="https://onlinelibrary.wiley.com/share/author/S7TZFBKF4SDWVXJC2G2J?target=10.1002/cjce.24091" target="blank"><image src="static/publication3.jpg"> </a>
    <p>[4] <strong> Experiments and simulation of liquid drainage in oscillating packed beds under roll and heave motions,The Canadian Journal of Chemical Engineering,100,S288-S301,2022</strong><br><strong class="tab">Authors:</strong> Zhang, Jian; Larachi, Faïçal; Iliuta, Ion; Taghavi, Seyed Mohammad;</p>
      <br>
</div>

<div class="publication">
    <a href="https://doi.org/10.1021/acs.iecr.0c05343" target="blank"><image src="static/publication2.jpg"> </a>
    <p>[3] <strong> Influence of Rotational and Translational Oscillations on the Drainage of Liquid in Floating Packed Beds,Industrial & Engineering Chemistry Research,60,3,1452–1462,2021</strong><br><strong class="tab">Authors:</strong> Zhang, Jian;  Taghavi, Seyed Mohammad; Larachi, Faïçal;</p>
      <br>
</div>

<div class="publication">
    <a href="https://doi.org/10.1021/acs.iecr.9b04250" target="blank"><image src="static/publication1.jpg"> </a>
    <p>[2] <strong> Assessment of the resilience against liquid maldistribution of monolith packings under offshore floating conditions,Industrial & Engineering Chemistry Research,58,47,21739-21751,2019</strong><br><strong class="tab">Authors:</strong> Zhang, Jian; Motamed Dashliborun, Amir; Taghavi, Seyed Mohammad; Larachi, Faical;</p>
      <br>
</div>

<div class="publication">
    <a href="https://doi.org/10.1021/acs.iecr.8b05695" target="blank"><image src="static/publication04.jpg"> </a>
    <p>[1] <strong> 110th anniversary: marinization of multiphase reactors through the prism of chemical engineers,Industrial & Engineering Chemistry Research,58,8,2607-2630,2019</strong><br><strong class="tab">Authors:</strong> Dashliborun, Amir Motamed; Zhang, Jian; Taghavi, Seyed Mohammad; Larachi, Faïçal;</p>
      <br>            
</div>       


<p>
    
</p>   
        
<h2 class="text-left font-weight-light"> <small><u>Conference</u></small></h2>
        
<div class="publication">
    <image src="static/C4.jpg"></image>
    <p>[4] <strong>Rheological properties of recycled high-density polyethylene in the solid state, 93rd Annual meeting of the Society of Rheology, Chicago (USA), 9-13 October, paper SR1, p.2 (2022). Keynote</strong><br><strong>Author:</strong>Zhang, J.; Rodrigue, D.*</p>
</div>

<div class="publication">
    <image src="static/C3.jpg"></image>
    <p>[3] <strong>Processing and properties of recycled high-density polyethylene. 37th International Conference of the Polymer Processing Society, Fukuoka, Japan, April 11- 15 (2022). Keynote</strong><br><strong>Author:</strong>Zhang, J.; Hirschberg V.; Rodrigue, D.*</p>
</div>

<div class="publication">
    <image src="static/C2.jpg"></image>
    <p>[2] <strong>Emulating liquid drainage in oscillating packed beds for marine applications. 11th International Symposium on Catalysis in Multiphase Reactors & 10th International Symposium on Multifunctional Reactors, Milano, Italy, March 21- 24 (2021).</strong><br><strong>Author:</strong> Zhang, J.; Taghavi, S. M.; Larachi, F.* </p>
</div>

<div class="publication">
    <image src="static/C1.jpg"></image>
    <p>[1] <strong>Hydrodynamics of gas-liquid countercurrent flow in random and structured packed column on floating platforms for offshore marine application. 4th North American Symposium for Chemical Reaction En-gineering, Houston, Texas, USA, March 10-13 (2019).</strong><br><strong>Author:</strong> Zhang, J.; Dashliborun, M. A.; Taghavi, S. M.; Larachi, F.*  </p>
</div>

{% endblock %}